.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  width: 1440px;
  height: 72px;
  background: var(--inputs);
}

.logo {
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.nav-menu {
  display: flex;
  width: 100%;
  gap: 450px;
  align-items: anchor-center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 24px 0;
  align-self: center;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--button);
}

.active {
  color: var(--button);
}
