.vehicle-card {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  display: flex;
}

.vehicle-img {
  border-radius: 10px;
  object-fit: cover;
}

.vehicle-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 524px;
  height: 320px;
  margin-left: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.vehicle-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 524px;
  height: 32px;
  gap: 8px;
}

.vehicle-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.vehicle-card-header-right {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.vehicle-rating {
  display: flex;
  gap: 16px;
  width: 268px;
  height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.vehicle-rating-left {
  display: flex;
  align-items: anchor-center;
  gap: 4px;
}

.vehicle-rating-right {
  display: flex;
  align-items: anchor-center;
  gap: 4;
}

.vehicle-favorite-icon-wrapper {
  cursor: pointer;
}

.vehicle-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.vehicle-tags-container {
  height: 104px;
  overflow: hidden;
}

.vehicle-tags-list {
  width: 524px;
  height: 104px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.vehicle-tags-list-item {
  display: flex;
  align-items: anchor-center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
}

.btn-show-more {
  border-radius: 200px;
  background: var(--button);
  width: 166px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-show-more:hover {
  background: var(--button-hover);
}
