.hero-section {
  width: 100%;
  height: 696px;
  background-image: image-set(
    url("/CamperVehicle.png") 1x,
    url("/CamperVehicle.png") 2x
  );
  padding: 260px 64px;
}

.hero-title-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 56px;
}

.btn-view-now {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-view-now:hover {
  background: var(--button-hover);
}
