.filter-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.filter-lines {
  border: none;
  height: 1px;
  background: var(--gray-light);
  margin: 24px 0;
}

.equipments-block {
  width: 360px;
  height: 200px;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.option-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 40px;
  gap: 8px;
  width: 112px;
  height: 96px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  cursor: pointer;
}

.vehicle-block {
  width: 360px;
  margin-bottom: 40px;
}

.selected {
  border: 1px solid var(--button);
}
