.form-block {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px 57px;
  width: 641px;
  height: 588px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 527px;
  height: 56px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-style {
  border-radius: 12px;
  padding: 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
}

.input-style::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.textarea-style {
  border-radius: 10px;
  padding: 18px;
  width: 527px;
  height: 118px;
  background: var(--inputs);
  resize: none;
}

.textarea-style::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.submit-button {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: all 0.3s ease;
}

.submit-button:hover {
  background: var(--button-hover);
}
