.page {
  padding: 48px 64px;
}

.main-container {
  display: flex;
  gap: 64px;
}

.search-config-block {
  position: initial;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}

.filters-group-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.btn-search {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-search:hover {
  background: var(--button-hover);
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.btn-load-more {
  display: block;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  margin: 0 auto;
  width: 145px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main);
  transition: all 0.3s ease;
}

.btn-load-more:hover {
  border: 1px solid var(--button-hover);
}

.loading-wrapper {
  position: absolute;

  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.pattern-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  font-family: var(--font-family);
  color: orange;
}
