.details-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 44px 52px;
  width: 631px;
  height: 588px;
  background: var(--inputs);
}

.details-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filter-lines {
  border: none;
  height: 1px;
  background: var(--gray-light);
  margin: 24px 0;
}

.details-tags-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
}

.vehicle-detail-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.vehicle-details-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicle-details-item {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}
