.page {
  padding: 48px 64px;
}

.main-container {
  display: flex;
  gap: 64px;
}

.vehicle-list-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 888px;
  height: 1568px;
  background-color: blue;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}

.filters-group-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.filter-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.filter-lines {
  border: none;
  height: 1px;
  background: var(--gray-light);
  margin: 24px 0;
}

.equipments-block {
  width: 360px;
  height: 200px;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.option-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 40px;
  width: 112px;
  height: 96px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  cursor: pointer;
}

.vehicle-block {
  width: 360px;
  margin-bottom: 40px;
}

.btn-search {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  transition: all 0.3s ease;
}
